.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: "Geist Pixel", sans-serif;
  font-optical-sizing: auto;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ELSH" 0;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Geist Pixel', sans-serif;
}

img {
  width: 80%;
}

footer {
  font-family: "Geist Pixel", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ELSH" 0;
  text-align: center;
  color: violet;

}

.roll-btn {
  background-color: #4ECCA3;
  color: #393E46;
  font-family: 'Geist Pixel', sans-serif;
  font-size: 2rem;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: 0.2s;
  align-self: auto;
}

.roll-btn:hover {
  background-color: #3b9b7a;
  transform: scale(1.05);
}
}